<div class="navigation">
	<a href="/"><div class="logo">
		Book Tracker
	</div></a>
		<ul>
			<a href="/books"><li>Index</li></a>


			<a href="/session/new"><li>Sign In (NEW session)</li></a>
			<a href="/authors/new"><li>Sign Up (NEW author)</li></a>
</div>

<div class="title">
  <h1>Welcome to Book Tracker</h1>
  <h2>A RESTful Web App built on a custom Rails inspired Platform</h2>
</div>
